{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Planoteca - Inicio</title>
{% endblock title_head %}

{% block h1_header %}
<div class="jumbotron">
  <h1 class="display-4">P L A N O T E C A</h1>
  <h2><p class="lead">La plataforma donde encontrarás todos los planos para hacer realidad tu próximo proyecto</p></h2>
  <hr class="my-4">
  <h5><p>Únete a nuestra comunidad y comienza a explorar todo lo que Planoteca tiene para ofrecer.</p></h5>
  <br>
  <a class="btn btn-primary btn-lg" href={% url 'app_proyectos:lista_proyecto' %} role="submit">Explorar</a>

  {% if user.is_authenticated and es_administrador %}
    <a class="btn btn-success btn-lg" href={% url 'app_usuarios:crear_usuario' %} role="submit">Crear Usuario (prueba Transivo)</a>
    <a class="btn btn-success btn-lg" href={% url 'app_usuarios:lista_usuarios' %} role="submit">Listado de Usuarios (prueba Transivo)</a>
  {% endif %}
</div>
{% endblock h1_header %}
