{% extends 'genericos/base.html' %}

{% block title_head %}
<title>Editar Usuario - Prueba transivo</title>
{% endblock title_head %}

{% block h1_header %}
<h2>Editar Usuario</h2>
{% endblock h1_header %}

{% block contenido %}
<div class="container my-8">
    <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{% url 'app_usuarios:lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock contenido %}
